
<!-- form section start -->

<div class="container register">

    <app-header></app-header>
    
    <div class="container">
        
        <div class="row">
            
            <app-common-nav></app-common-nav>
        
            <div class="col-md-9 col-lg-9">
            
                <div class="row" style="min-height:450px;">
                
                    <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                        <h2>Enter your registered email</h2>
                        <form name="login_form" (ngSubmit)="fs.form.valid && forgotPassword(fs);" #fs="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !email.valid }">
                                <input type="text" class="form-control" name="name" id="email"  placeholder="Email" name="email" [(ngModel)]="user.email" minlength="6" #email="ngModel" required />
                                <div *ngIf="fs.submitted && !email.valid" class="help-block">Email is required..</div>
                            </div>
                              

                            <div class="form-group">
                                    <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
                                    <span style="text-align: center;color: #28a745">{{sucsMsg}}</span>
                                  <button type="submit" class="btn btn-primary signin">submit <span class="arrowbtn"><span class="fa fa-arrow-right"></span></span></button>
                                  <a [routerLink]="['/login']" class="btn btn-link">login</a>
                                </div>
                        </form> 
                    </div>
                    
                </div>
              </div>
        
          </div>
      </div>
  </div>
    
    
    
    <div class="container-fluid">
        
    <div class="row">
        
    <app-footer></app-footer>
    
    
    </div>
    
    </div>
    
    
    

